# Binary
dz
a.out
examples/sdl_basic/hello_world

# Qt
*.user
*.pro.user
moc_*

# C++ stuff
*.o
*.a

# Build
/Makefile
/build*/

# Merge stuff
*.orig

# vcpkg
vcpkg
vcpkg_installed

# CMake
CMakeFiles
