name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: '**'

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, macos-12, windows-2022 ]
        include:
          - os: ubuntu-22.04
            cmake-prefix-path: /usr/lib/llvm-14
            artifact-path: /build/fcc
            cmake-args: ""
          - os: macos-12
            cmake-prefix-path: /usr/local/opt/llvm@14
            artifact-path: /build/fcc
            cmake-args: ""
          - os: windows-2022
            cmake-prefix-path: c:\llvm-14.0.6-windows-amd64-msvc17-msvcrt
            artifact-path: /build/fcc/Release
            cmake-args: "-T ClangCl"
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Install build dependencies
      run: |
        if [ "$RUNNER_OS" == "Windows" ]; then
          curl -L -o /c/llvm-14.0.6-windows-amd64-msvcrt-Release.zip https://github.com/Znurre/llvm-package-windows/releases/download/v0.0.2/llvm-14.0.6-windows-amd64-msvcrt-Release.zip &&
          7z x -y c:\\llvm-14.0.6-windows-amd64-msvcrt-Release.zip -oc:\\ &&
          7z x -y c:\\llvm-14.0.6-windows-amd64-msvc17-msvcrt.7z -oc:\\
        elif [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update && sudo apt-get install liblld-14-dev libclang-14-dev
        fi
      shell: bash

    - name: Configure CMake
      run: cmake ${{matrix.cmake-args}} -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_PREFIX_PATH=${{matrix.cmake-prefix-path}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Run tests
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          ${{github.workspace}}/build/test/test
        fi
      shell: bash

    - uses: actions/upload-artifact@v3
      with:
        name: ${{runner.os}}-fcc
        path: ${{github.workspace}}${{matrix.artifact-path}}
